#app {
    background-color: rgb(250, 187, 187);
    margin: 30px;
    padding: 30px;
    color: rgb(180, 95, 95);
    overflow: hidden;
}

h1 {
    font-family: arial;
    color: rgb(184, 85, 19)
}

h3 {
    font-style: italic;
}

#box-group {
    width: 100%;
    overflow: hidden;
}